.wrapper {
  padding-top: 50px;
  background: #ECEFF1;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  padding-bottom: 20px;
  /* justify-content: space-around; */
  align-content: flex-start;
  overflow: auto;
  background: #6d1d6d;
  max-width: 800px;
}
